{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block carousel %}
{% endblock carousel %}


{% block main %}

<div class="container mt-3 mb-3">
    <h1 class="text-center">Категория: {{ category_name }}</h1>
    <div class="d-flex justify-content-between">

        <div class="col-7 mt-3">
            {% for article in articles %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="{% url 'article_detail' article.pk %}">
                            <img src="{{ article.photo.url }}"
                                 class="img-fluid rounded-start"
                                 alt="...">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">{{ article.description|truncatewords:20 }}</p>
                            <p class="card-text"><small class="text-muted">{{ article.updated_at }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-4 mt-3">
            {% for article in trends %}
            <a href="{% url 'article_detail' article.pk %}">
                <div class="card mb-3">
                    <img src="{{ article.photo.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>{{ article.title }}</h3>
                        <p class="card-text">{{ article.description|truncatewords:20 }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock main %}



