<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}

        {% endblock title %}
    </title>


    {% block link %}
    {% include 'components/_links.html' %}
    {% endblock link %}


</head>
<body>

<header>
    {% include 'components/_navbar.html' %}

    {% block carousel %}
    {% include 'components/_carousel.html' %}
    {% endblock carousel %}

</header>


<main>

    {% block messages %}
    {% include 'components/_messages.html' %}
    {% endblock messages %}

    {% block main %}
    {% endblock main %}
</main>


<!-- Footer -->
{% include 'components/_footer.html' %}
<!-- Footer -->
{% block scripts %}
{% include 'components/_scripts.html' %}
{% endblock scripts %}
</body>
</html>